<form #registerForm="ngForm" (ngSubmit)="register" autocomplete="off">
    <h2 class="text-center text-secondary">Sign Up</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" name="username" 
        [(ngModel)]="model.username" placeholder="Username"/>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="username" 
        [(ngModel)]="model.password" placeholder="Password"/>
    </div>
    <div class="row mt-4" *ngIf = "errors.length > 0" >
        <ul class="text-danger">
            <li *ngFor="let error of errors">
                {{error}}
            </li>
        </ul>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-primary mr-2" type="submit" (click)="register()"> Create new User</button>
        <button class="btn btn-secondary mr-2" (click)="cancel()" type="button"> Cancel</button>
    </div>
</form>