<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/'>JWT demo</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink ='/samplePage' routerLinkActive = 'active'>Sample Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink ='/anotherSamplePage' routerLinkActive = 'active'>Another Sample Page</a>
            </li>
            <!--hidden links for unauthenticated users-->
            <ng-container *ngIf="accountService.currentUser$ | async">
                <li class="nav-item">
                    <a class="nav-link" routerLink ='/users' routerLinkActive = 'active'>Users</a>
                </li>
            </ng-container>
            
        </ul>

        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" 
        class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
            <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control mr-sm-2" 
            type="text" 
            placeholder="Username">
            <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control mr-sm-2"
            type="password" 
            placeholder="Password">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    </div>
</nav>